@charset "UTF-8";
* {
  margin: 0 0;
  padding: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 40%;
  left: -40%;
  top: 0;
  background: #ffffff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#nav .nav__inner {
  display: none;
}

#nav ul li {
  list-style-type: none;
  font-size: 20px;
}

#nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav li a:hover {
  color: #ffffff;
  background: #cd5c5c;
  border-bottom: none;
}

#hamburger {
  display: none;
  position: absolute;
  left: 30px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
}

#line1 {
  top: 0;
}

#line2 {
  top: 20px;
}

#line3 {
  bottom: 0px;
}

.in {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.line_1, .line_2, .line_3 {
  background: #000000;
}

.line_1 {
  -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(20px) rotate(-45deg);
  top: 0;
}

.line_2 {
  opacity: 0;
}

.line_3 {
  -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-20px) rotate(45deg);
  bottom: 0;
}

.content {
  max-width: 550px;
  height: 600px;
  margin: 0 auto;
  padding: 40px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__top {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal__name {
  padding-top: 35.5px;
  padding-bottom: 14px;
}

.modal__mail {
  padding-top: 14px;
  padding-bottom: 14px;
}

.form__footer {
  padding-top: 64px;
  text-align: center;
  padding-bottom: 90px;
}
.form__footer .submit {
  padding: 13px 67px;
  border: 1px solid #707070;
  color: black;
  background-color: #fff;
}

.input, .flatpickr {
  width: 100%;
  padding: 9px 10px;
  border: 1px solid #E7E7E7;
}

.select {
  width: 100%;
  padding: 9px 10px;
  border: 1px solid #E7E7E7;
  color: #797878;
}

.modal__inner {
  max-width: 430px;
  margin: 0 auto;
  border-top: 1px solid #E7E7E7;
}

.modal__image {
  position: absolute;
  top: 20px;
  right: 22px;
}

.modal__image img {
  width: 18px;
  height: 18px;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 550px;
  max-width: 550px;
  height: 600px;
}

header.scroll-nav {
  background-color: rgba(116, 108, 116, 0.178);
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: transparent;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-left nav {
  padding-left: 120px;
}
header .header-left nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-left nav ul li a {
  color: #FFFFFF;
}
header .header-left nav li:not(:last-child) {
  margin-right: 30px;
}
header .header-logo {
  padding-left: 20px;
  width: 200px;
  height: 40px;
}
header .header-right {
  margin-left: auto;
  margin-right: 24px;
}
header .header-right .header__right__inner {
  background-color: #978F10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 37px;
}
header .header-right .header__right__inner a {
  color: #FFFFFF;
  font-size: 16px;
}
header .header-right img {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

header.scroll-nav .logo,
header.scroll-nav ul li a {
  color: black;
}

.main__image {
  background-image: url(../image/oheya-header.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main__image .main__inner {
  position: relative;
}
.main__image .main__inner .main__text {
  position: absolute;
  top: 225px;
  right: 46%;
  font-size: 34px;
  color: white;
}

.inner {
  max-width: 1180px;
  margin: 0 auto;
}
.inner .contents__top {
  margin-top: 36px;
}
.inner .contents__title {
  text-align: center;
  font-size: 16px;
  margin-top: 98px;
  margin-bottom: 138px;
}
.inner .contents__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inner .contents__image__oheya2 {
  background-image: url(../image/oheya02.jpg);
  background-position: center center;
  background-size: cover;
  width: 525px;
  height: 300px;
  z-index: 2;
  position: absolute;
  top: -60px;
}
.inner .contents__image__oheya3 {
  background-image: url(../image/oheya03.jpg);
  background-position: center center;
  background-size: cover;
  width: 525px;
  height: 300px;
  z-index: 2;
  position: absolute;
  top: -60px;
}
.inner .contents__text__oheya__wrap {
  background-image: url(../image/bg.png);
  width: 70%;
  margin-right: auto;
  padding-top: 65px;
  padding-left: 65px;
  z-index: 1;
}
.inner .contents__oheya__text {
  width: 70%;
  margin-right: auto;
}
.inner .contents__oheya__text .title {
  font-size: 24px;
  font-weight: bold;
}
.inner .contents__oheya__text .subtitle {
  margin-top: 32px;
  margin-bottom: 32px;
}
.inner .contents__item {
  position: relative;
  padding-bottom: 144px;
}
.inner .contents__item .contents__image {
  position: absolute;
  top: -60px;
  background-image: url(../image/oheya01.jpg);
  width: 525px;
  height: 300px;
  background-position: center center;
  background-size: cover;
  z-index: 2;
}
.inner .contents__item .contents__text__wrap {
  background-image: url(../image/bg.png);
  width: 70%;
  margin-left: auto;
  padding-top: 65px;
  padding-right: 65px;
  z-index: 1;
}
.inner .contents__item .contents__text {
  width: 70%;
  margin-left: auto;
}
.inner .contents__item .contents__text .title {
  font-size: 24px;
  font-weight: bold;
}
.inner .contents__item .contents__text .subtitle {
  margin: 52px 0;
}

.footer__top {
  background-image: url(../image/bg3.png);
  width: 100%;
  height: 522px;
}
.footer__top .footer__inner .footer__title {
  text-align: center;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  font-size: 18px;
  margin: 0 auto;
  padding: 64px 0 96px 0;
  line-height: 3;
}
.footer__top .footer__inner .footer__image {
  width: 145px;
  height: 92px;
  margin: 0 auto;
}
.footer__top .footer__inner .footer__tagg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__top .footer__inner .footer__tagg .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 72px;
}
.footer__top .footer__inner .footer__tagg .footer__text .sub__number {
  letter-spacing: 2.88px;
}
.footer__top .footer__inner .footer__tagg .footer__text .number {
  margin-right: 21px;
}
.footer__top .footer__inner .footer__tagg .footer__bottom__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}
.footer__top .footer__inner .footer__tagg .footer__bottom__text .sub__number {
  margin-right: 20px;
}

footer {
  width: 100%;
  background-color: #000000;
}
footer .footer__subinner {
  height: 60px;
  -ms-flex-item-align: center;
      align-self: center;
}
footer .footer__subinner p {
  padding-top: 21px;
  color: white;
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=oheya.css.map */