@media(max-width:2560px){
    .inner .contents__item .contents__text__wrap {
        background-image: url(../image/bg.png);
        width: 70%;
        margin-left: auto;
        padding-top: 65px;
        z-index: 1;
        padding-bottom: 110px;
    }

    .inner .contents__text__oheya__wrap {
        background-image: url(../image/bg.png);
        width: 70%;
        margin-right: auto;
        padding-top: 65px;
        padding-left: 65px;
        padding-bottom: 110px;
        z-index: 1;
    }
}




@media(max-width:1024px){


  #nav{
    display:block;
    position: absolute;
    height: 100vh;
    width: 40%;
    left: -40%;
    top: 0;
    background: #ffffff;
    transition: .7s;
  }
  
  #nav ul li{
    list-style-type: none;
    font-size: 20px;
  }
  #nav .nav__inner a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
  }
  #nav li a:hover{
    color: #ffffff;
    background: #cd5c5c;
    border-bottom: none;
  }
  #hamburger {
   display:block;
   
    position: absolute;
    
    left: 75%;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
  }
  .inner_line {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
   
    transition: 1s;
    border-radius: 4px;
  }
  #line1 {
    top: 0;
  }
  #line2 {
    top: 20px;
  }
  #line3 {
    bottom: 0px;
  }

  .in{
    transform: translateX(100%);
  }
  .line_1,.line_2,.line_3{
    background: #fff;
  }
  .line_1 {
    transform: translateY(20px) rotate(-45deg);
    top: 0;
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    transform: translateY(-20px) rotate(45deg);
    bottom: 0;
  }
 
 

  .header-left nav{
    display: none;
  }



    .inner .contents__item .contents__text__wrap {
        background-image: url(../image/bg.png);
        width: 60%;
        
        margin-left: auto;
        padding-top: 65px;
        padding-bottom: 60px;
       
        z-index: 1;
    }

    .inner .contents__text__oheya__wrap {
        background-image: url(../image/bg.png);
        width: 70%;
        margin-right: auto;
        padding-top: 65px;
        padding-left: 65px;
        padding-bottom: 60px;
        z-index: 1;
    }

   
}


@media(max-width:768px){

  


    #hamburger {
        display: block;
        position: absolute;
        left: 65%;
        width: 50px;
        height: 44px;
        cursor: pointer;
        transition: 1s;
    }
    
    .main__image .main__inner .main__text {
        position: absolute;
        top: 210px;
        right: 43%;
        font-size: 34px;
        color: white;
    }

    .inner .contents__title {
        text-align: center;
        font-size: 16px;
        margin-top: 98px;
        margin-bottom: 400px;
    }

    .contents  .inner{
      padding: 0 20px;
  }

    .contents__item .contents__image__ryouri2{
        position: absolute;
    top: -300px;
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    z-index: 2;
    }
    .inner .contents__image__ryouri3{
        position: absolute;
    top: -300px;
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    z-index: 2;
    }

   .contents  .inner{
        padding: 0 20px;
    }

    .inner .contents__item .contents__text {
        width: 70%;
        margin : 0 auto;
    }

    .inner .contents__oheya__text {
        width: 70%;
        margin: 0 auto;
    }
    .inner .contents__item .contents__text__wrap {
        background-image: url(../image/bg.png);
        width: 100%;
        
        margin-left: auto;
        padding: 30px 0;
        
        z-index: 1;
    }
    .inner .contents__text__oheya__wrap {
        background-image: url(../image/bg.png);
        width: 100%;
        
        margin-right: auto;
        padding: 30px 0;
        
        z-index: 1;
    }
    .inner .contents__item .contents__image {
        position: absolute;
        top: -300px;
        background-image: url(../image/oheya01.jpg);
        width: 100%;
        height: 300px;
        background-position: center center;
        background-size: cover;
        z-index: 2;
    }

    .inner .contents__image__oheya2 {
        background-image: url(../image/oheya02.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
        z-index: 2;
        position: absolute;
        top: -300px;
    }
    .inner .contents__image__oheya3 {
        background-image: url(../image/oheya03.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 300px;
        z-index: 2;
        position: absolute;
        top: -300px;
    }

    .inner .contents__item:nth-child(2n) {
        flex-direction: row-reverse;
        display: flex;
        margin-top: 300px;
    }

    .inner .contents__item {
        position: relative;
        padding-bottom: 144px;
        margin-top: 300px;
    }
}

@media(max-width:440px){

    #hamburger {
        display:block;
     
      position: absolute;
      
      left: 80%;
      width: 50px;
      height: 44px;
      cursor: pointer;
      transition: 1s;
    }

    .modal__content {
        background: #fff;
        left: 50%;
        position: absolute;
        top: 58%;
        transform: translate(-50%, -50%);
        width: 550px;
        width: 300px;
        max-width: 550px;
        height: 550px;
    }

    #nav .nav__inner {
        display: block;
        background-color: #978F10;
        align-items: center;
    }

    header .header-right .header__right__inner {
        display:none;
        background-color: #978F10;
        align-items: center;
        padding: 19px 37px;
    }


    .header-left nav{
        display:none;
    }


    .main__image .main__inner .main__text {
        position: absolute;
        top: 210px;
        right: 38%;
        font-size: 34px;
        color: white;
    }
    .inner .contents__item .contents__text__wrap {
        background-image: url(../image/bg.png);
        width: 100%;
         margin-left: auto; 
         margin-right: auto; 
        
         padding-top: 30px; 
         padding-right:0px;
        z-index: 1;
    }

    .inner .contents__item .contents__text {
        margin: 0 auto;
        width: 70%;
        
    }

    .inner .contents__item .contents__text .subtitle {
        margin: 12px 0;
    }
   
    .inner .contents__oheya__text .subtitle {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .inner .contents__text__oheya__wrap {
        background-image: url(../image/bg.png);
        width: 100%;
        margin-right: auto;
        padding-top: 30px;
        padding-left: 0px;
        z-index: 1;
    }

    .inner .contents__oheya__text {
        width: 70%;
        margin: 0 auto;
    }

    .footer__top .footer__inner .footer__tagg .footer__text .number {
        margin-right: 5px;
    }
}