body {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 240px;
  color: #24292e;
}
header .header__inner {
  max-width: 840px;
  height: 240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__inner .left a figure img {
  width: 120px;
  height: 27px;
}
header .header__inner .right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.main__visual {
  width: 100%;
  height: 420px;
}
.main__visual .visual__inner .image figure img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.works {
  width: 100%;
  color: #24292e;
}
.works .works__inner {
  max-width: 840px;
  margin: 0 auto;
}
.works .works__inner .box {
  text-align: center;
}
.works .works__inner .box .inner .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 65px;
}
.works .works__inner .box .inner .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.works .works__inner .box .inner .link {
  margin-top: 60px;
  margin-bottom: 40px;
}
.works .works__inner .box .inner .link a {
  text-decoration: underline;
}

.news {
  width: 100%;
  color: #24292e;
  padding-bottom: 200px;
}
.news .news__inner {
  max-width: 840px;
  margin: 0 auto;
}
.news .news__inner .box {
  text-align: center;
}
.news .news__inner .box .inner .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 65px;
}
.news .news__inner .box .inner dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news .news__inner .box .inner dl dt {
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
  width: 20%;
  font-size: 14.4px;
}
.news .news__inner .box .inner dl dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
  font-size: 14.4px;
  text-align: left;
}
.news .news__inner .box .inner .first {
  border-top: 1px solid #c8c8c8;
}
.news .news__inner .box .inner .link {
  margin-top: 60px;
  margin-bottom: 40px;
}
.news .news__inner .box .inner .link a {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 35px;
  background-color: #000;
}
footer .footer__inner {
  max-width: 840px;
  margin: 0 auto;
}
footer .footer__inner p {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fff;
}

.about {
  width: 100%;
  padding-bottom: 300px;
}
.about .about__inner {
  max-width: 840px;
  margin: 0 auto;
}
.about .about__inner .box .inner .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 65px;
}
.about .about__inner .box .inner .about__box {
  text-align: left;
}
.about .about__inner .box .inner .about__box .top {
  margin-bottom: 30px;
}
.about .about__inner .box .inner .about__box .info {
  margin-bottom: 30px;
}
.about .about__inner .box .inner .about__box .text {
  margin-bottom: 30px;
}

.contact {
  width: 100%;
  padding-bottom: 300px;
}
.contact .contact__inner {
  max-width: 840px;
  margin: 0 auto;
}
.contact .contact__inner .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 65px;
}
.contact .contact__inner form .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.contact .contact__inner form .box label {
  width: 20%;
  margin-top: 5px;
}
.contact .contact__inner form .box input {
  border: solid 1px #c8c8c8;
  padding: 10px;
  width: 80%;
}
.contact .contact__inner form .box textarea {
  border: solid 1px #c8c8c8;
  padding: 10px;
  width: 80%;
}
.contact .contact__inner form .button {
  margin-top: 40px;
}
.contact .contact__inner form .button a {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  display: block;
  padding: 15px 0;
  margin: 0 auto 10px auto;
  border: solid 1px #24292e;
  text-align: center;
}

.works__detail {
  width: 100%;
  color: #24292e;
}
.works__detail .works__inner {
  max-width: 640px;
  margin: 0 auto;
}
.works__detail .works__inner .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 65px;
  text-align: center;
}
.works__detail .works__inner .list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
  margin-bottom: 120px;
}
.works__detail .works__inner .list .title {
  font-weight: bold;
  text-align: left;
}
.works__detail .works__inner .list .text {
  text-align: left;
}

@media (max-width: 900px) {
  header .header__inner {
    max-width: 90%;
  }

  .works .works__inner {
    max-width: 90%;
  }
  .works .works__inner .box .inner .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .works .works__inner .box .inner .link {
    margin-bottom: 120px;
  }

  .news .news__inner {
    max-width: 90%;
  }

  .about .about__inner {
    max-width: 90%;
  }

  .works__detail .works__inner {
    max-width: 90%;
  }

  .contact .contact__inner {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 900px) and (max-width: 600px) {
  header {
    height: 80px;
  }
  header .header__inner {
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }

  .works .works__inner {
    max-width: 90%;
  }
  .works .works__inner .box .inner .list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .news .news__inner {
    max-width: 90%;
  }
  .news .news__inner .box .inner dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
  }
  .news .news__inner .box .inner dl dd {
    border: none;
  }
  .news .news__inner .box .inner dl dt {
    border: none;
  }

  .about .about__inner .box {
    padding-top: 100px;
  }

  .contact .contact__inner .title {
    margin-top: 100px;
  }
  .contact .contact__inner form .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .contact .contact__inner form .box input {
    width: 100%;
  }
  .contact .contact__inner form .box textarea {
    width: 100%;
  }
}
@media (max-width: 900px) and (max-width: 430px) {
  header .header__inner .right nav ul {
    gap: 15px;
  }
  header .header__inner .right nav ul a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */