/* Header.css */

/* PC のみ表示 */
.header-bar--desktop {
  display: flex !important;
}

/* SP のみ表示 */
.header-bar--mobile,
.header-drawer {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-bar--desktop {
    display: none !important;
  }
  .header-bar--mobile {
    display: flex !important;
  }
  .header-drawer {
    display: block;
  }
}
