#skill .sec-title {
  color: rgba(255, 255, 255, 0.1882352941);
}

#skill .skill-wrap {
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 24px;
  font-family: "Quicksand", sans-serif;
  color: #333;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #skill .skill-wrap {
    max-width: 92%;
    padding: 28px 16px;
  }
}

@media screen and (max-width: 480px) {
  #skill .skill-wrap {
    max-width: 94%;
    padding: 20px 12px;
  }
}
