@charset "UTF-8";
img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #fbf2cb;
}

.main {
  position: relative;
  margin: 0 auto;
  background: url(../img/main_bg.jpg) center top no-repeat;
  min-height: 763px;
  background-repeat: no-repeat;
}
.main .main__inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  position: relative;
}
.main .main__inner .logo {
  position: absolute;
  top: 20px;
  left: 15%;
}
.main .main__inner .title {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.main .main__inner .title img {
  width: 650px;
  height: 150px;
}
.main .main__inner .title .none {
  display: none;
}
.main .main__inner .sub__title {
  position: absolute;
  top: 300px;
  left: 20%;
}
.main .main__inner .sub__title img {
  width: 390px;
  height: 130px;
}

.main::after {
  content: "";
  background: url(../img/punc1.png) center bottom repeat-x;
  height: 132px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main__bottom {
  position: relative;
  padding: 50px 0;
}
.main__bottom .main__bottom__inner {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}
.main__bottom .main__bottom__inner .title {
  text-align: center;
}
.main__bottom .main__bottom__inner .title img {
  width: 380px;
  height: 100px;
}
.main__bottom .main__bottom__inner .title__text {
  text-align: center;
  line-height: 2.2;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.main__bottom .main__bottom__inner .title__text .price {
  font-size: 14px;
}
.main__bottom .main__bottom__inner .green {
  width: 370px;
  margin: 0 auto;
  display: block;
  background-color: #004b4a;
  border-radius: 10px;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 45px;
}
.main__bottom .main__bottom__inner .orange {
  width: 370px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  background-color: #f78708;
  color: #fff;
  font-size: 24px;
}

.salt {
  padding-bottom: 60px;
}
.salt .salt__inner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
.salt .salt__inner .box:after {
  display: block;
  content: "";
  width: 860px;
  height: 38px;
  background: url(../img/c02_bg3.png) center bottom no-repeat;
}
.salt .salt__inner .box {
  background: url(../img/c02_bg1.png) center top no-repeat;
  padding-top: 40px;
  width: 860px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.salt .salt__inner .box .box__inner {
  background: url(../img/c02_bg2.png) center top repeat-y;
  padding: 20px 0;
}
.salt .salt__inner .box .box__inner .title {
  text-align: center;
  margin-bottom: 40px;
}
.salt .salt__inner .box .box__inner .title img {
  width: 700px;
  height: 35px;
}
.salt .salt__inner .box .box__inner .title .none {
  display: none;
}
.salt .salt__inner .box .box__inner .title__bottom {
  text-align: center;
  margin-bottom: 10px;
}
.salt .salt__inner .box .box__inner .title__bottom img {
  width: 640px;
  height: 300px;
}
.salt .salt__inner .box .box__inner .title__bottom .none {
  display: none;
}
.salt .salt__inner .box .box__inner .link {
  text-align: center;
}
.salt .salt__inner .box .box__inner .link a img {
  width: 460px;
  height: 95px;
}
.salt .salt__inner .box .box__inner .bottom__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}
.salt .salt__inner .box .box__inner .bottom__box .yuzu figure img {
  width: 280px;
  height: 260px;
}
.salt .salt__inner .box .box__inner .bottom__box .yuzu ul {
  width: 110px;
  margin: 0 auto;
  text-align: center;
}
.salt .salt__inner .box .box__inner .bottom__box .yuzu ul li {
  margin: 10px 0;
  text-align: left;
  background: url(../img/c02_check.png) left center no-repeat;
  background-size: 17px;
  color: #4ba200;
  font-weight: bold;
  padding-left: 20px;
}
.salt .salt__inner .box .box__inner .bottom__box .yuzu .link {
  padding-top: 10px;
}
.salt .salt__inner .box .box__inner .bottom__box .yuzu .link a img {
  width: 240px;
  height: 35px;
}
.salt .salt__inner .box .box__inner .bottom__box .ginger figure img {
  width: 280px;
  height: 260px;
}
.salt .salt__inner .box .box__inner .bottom__box .ginger ul {
  width: 110px;
  margin: 0 auto;
  text-align: center;
}
.salt .salt__inner .box .box__inner .bottom__box .ginger ul li {
  margin: 10px 0;
  text-align: left;
  background: url(../img/c02_check.png) left center no-repeat;
  background-size: 17px;
  color: #4ba200;
  font-weight: bold;
  padding-left: 20px;
}
.salt .salt__inner .box .box__inner .bottom__box .ginger .link {
  padding-top: 10px;
}
.salt .salt__inner .box .box__inner .bottom__box .ginger .link a img {
  width: 240px;
  height: 35px;
}

.bath {
  position: relative;
  background-image: url(../img/c03_bg.png);
  background-color: #ffd800;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 120px;
}
.bath .bath__inner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
.bath .bath__inner .title {
  margin-bottom: 70px;
}
.bath .bath__inner .title img {
  width: 440px;
  height: 48px;
}
.bath .bath__inner .top__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.bath .bath__inner .top__img .left img {
  width: 220px;
  height: 379px;
}
.bath .bath__inner .top__img .right img {
  width: 415px;
  height: 380px;
}
.bath .bath__inner .bottom__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bath .bath__inner .bottom__img .left img {
  width: 630px;
  height: 235px;
}
.bath .bath__inner .bottom__img .left .none {
  display: none;
}
.bath .bath__inner .bottom__img .right img {
  width: 330px;
  height: 310px;
}
.bath .bath__inner .btn {
  margin-top: 30px;
  background-color: orange;
  width: 375px;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}
.bath .bath__inner .btn a {
  color: #fff;
}

.bath:before {
  content: "";
  background: url(../img/punc2.png) center bottom repeat-x;
  height: 132px;
  width: 100%;
  position: absolute;
  top: -46px;
  left: 0;
}

.shop {
  padding: 25px 0 60px 0;
  position: relative;
}
.shop .shop__inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
.shop .shop__inner .box {
  background: url(../img/shop_bg2.png) left bottom no-repeat;
  color: #333;
  width: 930px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.shop .shop__inner .box .box__inner {
  padding: 20px;
}
.shop .shop__inner .box .box__inner .title img {
  width: 875px;
  height: 35px;
}
.shop .shop__inner .box .box__inner .title .none {
  display: none;
  width: 720px;
  height: 117px;
  margin: 0 auto;
}
.shop .shop__inner .box .box__inner .sub__title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.shop .shop__inner .box .box__inner .text {
  line-height: 2;
}
.shop .shop__inner .box .box__inner .add {
  margin-top: 20px;
  margin-bottom: 40px;
}
.shop .shop__inner .box .box__inner .btn a img {
  width: 400px;
  height: 60px;
}
.shop .shop__inner .box:before {
  display: block;
  margin: 0 auto;
  content: "";
  width: 930px;
  height: 10px;
  background: url(../img/shop_bg1.png) left top no-repeat;
}

.shop:before {
  content: "";
  background: url(../img/punc3.png) center bottom repeat-x;
  height: 87px;
  width: 100%;
  position: absolute;
  top: -87px;
  left: 0;
}

.shop:after {
  content: "";
  background: url(../img/punc2.png) center bottom repeat-x;
  background-size: 180%;
  height: 10vw;
  width: 100%;
  position: absolute;
  bottom: -10vw;
  left: 0;
  z-index: 1;
}

footer {
  width: 100%;
  background-color: #ffd800;
  padding-top: 80px;
  padding-bottom: 20px;
}
footer .footer__inner {
  max-width: 1000px;
  margin: 0 auto;
}
footer .footer__inner .top {
  padding-bottom: 30px;
}
footer .footer__inner .top .top__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer__inner .top .top__inner ul li a img {
  width: 230px;
  height: 75px;
}
footer .footer__inner .bottom {
  text-align: center;
}
footer .footer__inner .bottom .bottom__inner .bottom {
  font-size: 13px;
  padding: 15px 0;
}

/*responsive対応*/
@media (max-width: 1100px) {
  .main__bottom {
    position: relative;
    padding: 50px 0;
  }
  .main__bottom .main__bottom__inner {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
  }
  .main__bottom .main__bottom__inner .title {
    text-align: center;
  }
  .main__bottom .main__bottom__inner .title img {
    width: 380px;
    height: 100px;
  }
  .main__bottom .main__bottom__inner .title__text {
    text-align: center;
    line-height: 2.2;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .main__bottom .main__bottom__inner .title__text .price {
    font-size: 14px;
  }
  .main__bottom .main__bottom__inner .green {
    width: 370;
    margin: 0 auto;
    display: block;
    background-color: #004b4a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 45px;
  }
  .main__bottom .main__bottom__inner .orange {
    width: 370px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #f78708;
    color: #fff;
    font-size: 24px;
  }

  .salt {
    padding-bottom: 60px;
  }
  .salt .salt__inner {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  .salt .salt__inner .box:after {
    display: block;
    content: "";
    width: 90%;
    height: 38px;
    background-image: none;
  }
  .salt .salt__inner .box {
    background-image: none;
    padding-top: 40px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .salt .salt__inner .box .box__inner {
    background-image: none;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .salt .salt__inner .box .box__inner .title {
    text-align: center;
    margin-bottom: 40px;
  }
  .salt .salt__inner .box .box__inner .title img {
    width: 100%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .title .block {
    display: none;
  }
  .salt .salt__inner .box .box__inner .title .none {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .title__bottom {
    text-align: center;
    margin-bottom: 10px;
  }
  .salt .salt__inner .box .box__inner .title__bottom img {
    width: 100%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .title__bottom .block {
    display: none;
  }
  .salt .salt__inner .box .box__inner .title__bottom .none {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .link {
    text-align: center;
  }
  .salt .salt__inner .box .box__inner .link a img {
    width: 70%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .bottom__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu .frame {
    width: 50%;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu figure {
    width: 50%;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu figure img {
    width: 100%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu ul {
    width: 110px;
    margin: 0 auto;
    text-align: center;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu ul li {
    margin: 10px 0;
    text-align: left;
    background: url(../img/c02_check.png) left center no-repeat;
    background-size: 15px;
    color: #4ba200;
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu .link {
    padding-top: 10px;
  }
  .salt .salt__inner .box .box__inner .bottom__box .yuzu .link a img {
    width: 70%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger .frame {
    width: 50%;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger figure {
    width: 50%;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger figure img {
    width: 100%;
    height: auto;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger ul {
    width: 110px;
    margin: 0 auto;
    text-align: center;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger ul li {
    margin: 10px 0;
    text-align: left;
    background: url(../img/c02_check.png) left center no-repeat;
    background-size: 15px;
    color: #4ba200;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger .link {
    padding-top: 10px;
  }
  .salt .salt__inner .box .box__inner .bottom__box .ginger .link a img {
    width: 70%;
    height: auto;
  }

  .bath {
    position: relative;
    background-image: url(../img/c03_bg.png);
    background-color: #ffd800;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 120px;
  }
  .bath .bath__inner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  .bath .bath__inner .title {
    margin-bottom: 70px;
  }
  .bath .bath__inner .title img {
    width: 100%;
    height: auto;
  }
  .bath .bath__inner .top__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bath .bath__inner .top__img .left img {
    width: 100%;
    height: auto;
  }
  .bath .bath__inner .top__img .right img {
    width: 100%;
    height: auto;
  }
  .bath .bath__inner .bottom__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bath .bath__inner .bottom__img .left img {
    width: 100%;
    height: auto;
    display: none;
  }
  .bath .bath__inner .bottom__img .left .none {
    width: 100%;
    height: auto;
    display: block;
  }
  .bath .bath__inner .bottom__img .right img {
    width: 100%;
    height: auto;
  }
  .bath .bath__inner .btn {
    margin-top: 30px;
    background-color: orange;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
  }
  .bath .bath__inner .btn a {
    color: #fff;
  }

  .bath:before {
    content: "";
    background: url(../img/punc2.png) center bottom repeat-x;
    height: 132px;
    width: 100%;
    position: absolute;
    top: -46px;
    left: 0;
  }

  .shop {
    padding: 25px 0 60px 0;
    position: relative;
  }
  .shop .shop__inner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  .shop .shop__inner .box {
    background-image: none;
    color: #333;
    width: 95%;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .shop .shop__inner .box .box__inner {
    padding: 20px;
  }
  .shop .shop__inner .box .box__inner .title img {
    width: 100%;
    height: auto;
    display: none;
  }
  .shop .shop__inner .box .box__inner .title .none {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .shop .shop__inner .box .box__inner .sub__title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .shop .shop__inner .box .box__inner .text {
    line-height: 2;
  }
  .shop .shop__inner .box .box__inner .add {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .shop .shop__inner .box .box__inner .btn a img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .shop .shop__inner .box:before {
    display: none;
    margin: 0 auto;
    content: "";
    width: 95%;
    height: 10px;
    background: url(../img/shop_bg1.png) left top no-repeat;
  }

  .shop:before {
    content: "";
    background: url(../img/punc3.png) center bottom repeat-x;
    height: 87px;
    width: 100%;
    position: absolute;
    top: -87px;
    left: 0;
  }

  .shop:after {
    content: "";
    background: url(../img/punc2.png) center bottom repeat-x;
    background-size: 180%;
    height: 10vw;
    width: 100%;
    position: absolute;
    bottom: -10vw;
    left: 0;
    z-index: 1;
  }

  footer {
    width: 100%;
    background-color: #ffd800;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  footer .footer__inner {
    max-width: 90%;
    margin: 0 auto;
  }
  footer .footer__inner .top {
    padding-bottom: 30px;
  }
  footer .footer__inner .top .top__inner ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__inner .top .top__inner ul li a img {
    width: 100%;
    height: auto;
  }
  footer .footer__inner .bottom {
    text-align: center;
  }
  footer .footer__inner .bottom .bottom__inner .bottom {
    font-size: 13px;
    padding: 15px 0;
  }
}
@media (max-width: 780px) {
  .main .main__inner .logo {
    position: absolute;
    top: 20px;
    left: 10%;
  }
  .main .main__inner .title {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .main .main__inner .title img {
    width: 100%;
    height: auto;
    display: none;
  }
  .main .main__inner .title .none {
    display: block;
    width: 100%;
    height: auto;
  }
  .main .main__inner .sub__title {
    position: absolute;
    top: 300px;
    left: -20%;
  }
  .main .main__inner .sub__title img {
    width: 50%;
    height: auto;
  }

  .main__bottom {
    position: relative;
    padding: 50px 0;
  }
  .main__bottom .main__bottom__inner {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
  }
  .main__bottom .main__bottom__inner .title {
    text-align: center;
  }
  .main__bottom .main__bottom__inner .title img {
    width: 100%;
    height: auto;
  }
  .main__bottom .main__bottom__inner .title__text {
    text-align: center;
    line-height: 2;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .main__bottom .main__bottom__inner .title__text .price {
    font-size: 14px;
  }
  .main__bottom .main__bottom__inner .green {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #004b4a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 45px;
  }
  .main__bottom .main__bottom__inner .orange {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #f78708;
    color: #fff;
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .main .main__inner .logo {
    position: absolute;
    top: 20px;
    left: 10%;
  }
  .main .main__inner .logo img {
    width: 80%;
  }
  .main .main__inner .title {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .main .main__inner .title .none {
    display: block;
    width: 310px;
    height: auto;
  }
  .main .main__inner .sub__title {
    position: absolute;
    top: 250px;
    left: -20%;
  }
  .main .main__inner .sub__title img {
    width: 60%;
    height: auto;
  }

  .main__bottom {
    position: relative;
    padding: 50px 0;
  }
  .main__bottom .main__bottom__inner {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
  }
  .main__bottom .main__bottom__inner .title {
    text-align: center;
  }
  .main__bottom .main__bottom__inner .title img {
    width: 90%;
    height: auto;
  }
  .main__bottom .main__bottom__inner .title__text {
    text-align: center;
    line-height: 2;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .main__bottom .main__bottom__inner .title__text .price {
    font-size: 8px;
  }

  .shop .shop__inner .box .box__inner {
    padding: 20px;
  }
  .shop .shop__inner .box .box__inner .title .none {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .shop .shop__inner .box .box__inner .sub__title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .shop .shop__inner .box .box__inner .text {
    line-height: 2;
    font-size: 10px;
  }
  .shop .shop__inner .box .box__inner .add {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 8px;
  }

  footer .footer__inner {
    max-width: 90%;
    margin: 0 auto;
  }
  footer .footer__inner .bottom {
    text-align: center;
  }
  footer .footer__inner .bottom .bottom__inner a {
    font-size: 8px;
  }
  footer .footer__inner .bottom .bottom__inner .bottom {
    font-size: 6px;
    padding: 8px 0;
  }
}
/*# sourceMappingURL=style.css.map */