.wrapper{
    box-sizing:border-box;
    background-color:#fff;
    box-shadow:0 0 8px 4px #999;
}
/*----------------------------------------------------
mainコンテンツ部分は
------------------------------------------------------*/
// videoコンテンツ部分の実装
#MainPlay{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.bg-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;    
}
/*----------------------------------------------------
index.html work contents
------------------------------------------------------*/

#work .work-wrapper ul{
    padding:50px 30px;
    display:flex;
    flex-wrap:wrap;
}
#work .work-item{
    box-sizing: border-box;
    padding:5px;
    width:33.3%;
    min-width:333px;
    text-align:center;
}
#work .work-item:hover .work-item li{
    padding:50px;
}
#work figure{
    margin:0;
    position:relative;
}
#work figcaption{
    position:absolute;
    top:-4%;
    left:-4%;
    width:108%;
    height:104%;
    background-color:rgba(255,255,255,0);
    transition:all 0.8s;
    color:rgba(255,255,255,0);
    text-align:center;
}
#work figcaption:hover{
    top:7%;
    left:7%;
    width:86%;
    height:86%;
    background-color:rgba(255,46,99,0.6);
    color:rgba(255,255,255,1);
    transition:all 0.8s;
}
#work figcaption h3{
    font-size: 1.2rem;
}
#work figcaption p{
    font-size: 0.8rem;
}
#work figcaption .fig-inner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
/*----------------------------------------------------
about
------------------------------------------------------*/
#about{
    padding-bottom:70px;
}
#about .profile{
}
#about .icon-wrapper{
    width:80%;
    margin-right:10%;
    margin-left:10%;
    /*text-align:center;*/
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    
}
#about .icon-wrapper img{
    width:35vw;
    box-shadow: 0px 0px 6px #eee;
}
#about .icon-wrapper .name{
   
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    letter-spacing: 5px
}
#about .icon-wrapper .name .name-main{
    font-size:3rem;
    margin-right:10px;
    margin-top: 0;
    margin-bottom: 0;
}
#about .icon-wrapper .name .name-sub{
    margin:0;
    color:#ff2e63;
}
#about .about-wrapper{
    width:70%;
    padding-right:15%;
    padding-left:15%;
    line-height:2.5;
}
#about .about-wrapper p{
    font-size: 1rem;
}

#about .about-wrapper h4{
    color:#ff2e63;
    filter:drop-shadow(1px 1px 5px #c0c0c0);
    font-size:1.4rem;
}

/*----------------------------------------------------
skill
------------------------------------------------------*/
#skill .sec-title{
    color:#ffffff30;
}
#skill .skill-wrap{
    display:flex;
    text-align:center;
    flex-wrap:wrap;
    max-width:80%;
    justify-content:space-around;
    margin-left:10%;
    padding:30px 20px;
    font-family: 'Quicksand', sans-serif;
    color:#333;
}
#skill .skill-wrap .skill-item{
    text-align:center;
}
#skill .fab{
    font-size:5rem;
    transition:all 0.5s;
}
#skill .fab:hover{
    transform: rotate(-25deg);
    transition:all 0.5s;
}

/*----------------------------------------------------
service
------------------------------------------------------*/
#service{
    width:100%;
    background-size:cover;
    background-position:center top;
    position:relative;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#service .sec-title{
    color:#ffffff30;
}
#service .service-wrapper{
    color:#333;
    margin-right:10%;
    margin-left:10%;
    display:flex;
    box-sizing: border-box;
    text-align: center;
}
#service i{
    font-size:3rem;
}
#service .service-wrap-right{
    width:45%;
    padding:30px;
    
    margin-bottom:130px;
}
#service .service-wrap-right h3{
    font-size: 1.2rem;
}
#service .service-wrap-right p{
    text-align:left;
    font-size: 1rem;
}
#service .service-wrap-left{
    width:45%;
    margin-right:10%;
    padding:30px;
    
    margin-bottom:130px;
}
#service .service-wrap-left h3{
    font-size: 1.2rem;
}
#service .service-wrap-left p{
    text-align: left;
    font-size: 1rem;
}

/*----------------------------------------------------
contact
------------------------------------------------------*/
#contact{
    padding-top:20px;
    background-color:#808080;
    text-align: center;
}
#contact .contact-wrapper{
    padding-top:0px;
    margin-bottom:0;
    font-family: 'Montserrat Subrayada', sans-serif;
}
#contact .contact-wrapper form{
    margin:0 auto;
    max-width:600px;
    display:flex;
    flex-direction:column;
    padding-bottom: 50px;
}
#contact .contact-wrapper dt{
    padding:10px;
    text-align: left;
}
#contact .contact-wrapper dd{
    margin-left:0;
}
#contact .contact-wrapper p{
    margin-top:40px;
    padding-bottom:20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#contact .contact-wrapper #name,#name{
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-radius:4px;
    width:98%;
}
#contact .contact-wrapper #name,#mail{
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-radius:4px;
    width:98%;
}
#contact #message{
    padding-top:20px;
    padding-bottom:20px;
    border:none;
    border-radius:4px;
    width:98%;
    margin-bottom:20px;
}
#contact #button{
    padding:10px;
    border:2px solid #dc143c;
    background-color:#dc143c;
    color:#fff;
    border-radius:7px;
    width:200px;
    margin:0 auto;
    font-family: 'Montserrat Subrayada', sans-serif;
    transition:all 0.5s;
}
#contact #button:hover{
    color:#dc143c;
    border:2px solid #fff;
    background-color:#fff;
    transition:all 0.5s;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 1000px) {
  .carousel {
      /* 400x700の領域からはみ出た部分は非表示 */
      width: 525px;
      height:600px;
    }
  .slides li {
      float: left;
      width: 525px;
      height: 600px;
    }
  .slides-text{
      float:left;
      width:100%;
      box-sizing: border-box;
      padding:5%;
      margin:0;
    }
    #work .work-item{
        width:50%;
    }
    #about .icon-wrapper .name .name-main{
        font-size:2rem;
    }
    #skill .fab{
        font-size:4rem;
    }
    #contact .sub-sec-title{
        left:40%;
    }

}
@media screen and (max-width: 666px) {
    #work .work-item{
        width:100%;
    }
}
@media screen and (max-width: 600px) {
    section{
        padding-top:50px;
    }
    .sec-title{
        font-size:4rem;
    }
    .sub-sec-title{
        font-size:1.4rem;
    }
    
    #about .profile{
        display:inline-block;
    }
    #about .icon-wrapper{
        /*width:;*/
    }
    #about .about-wrapper{
        width:75%;
        margin-right:0;
        float:right;
        margin-top:30px;
    }
    #about .icon-wrapper .name .name-main{
        font-size:2rem;
    }
    #about .about-wrapper h4{
        margin:0;
    }
    
    #contact .contact-wrapper form{
        max-width:300px;
    }
    
    .slides li img{
      width:480px;
      height:260px;
    }
    .carousel {
      /* 400x700の領域からはみ出た部分は非表示 */
      width: 480px;
      height:550px;
    }
  .slides li {
      float: left;
      width: 480px;
      height:550px;
    }
  .slides-text{
      float:left;
      width:100%;
      box-sizing: border-box;
      padding:5%;
      margin:0;
    }
    #skill .skill-wrap{
        width:80%;
        padding:10px 20px;
        margin:0 auto;
        font-size:0.7rem;
    }
    #skill .fab{
        font-size:3rem;
    }
    #service{
        padding-bottom:80px;
    }
    #service .service-wrapper{
        margin-right:15%;
        margin-left:15%;
        display:block;
        font-size:0.7rem;
    }
    #service .service-wrap-right{
        width:100%;
        margin-bottom:0px;
        margin-right:0;
        padding:20px;
    }
    #service .service-wrap-left{
        width:100%;
        margin-bottom:40px;
        margin-right:0;
        padding:20px;
    }
    #service .sub-sec-title{
        left:35%;
    }
    #contact .sub-sec-title{
        left:30%;
    }
}
@media screen and (max-width: 480px) {
    .sec-title{
        font-size:4rem;
    }
    section{
        padding-top:50px;
    }
    .sub-sec-title{
        font-size:1.4rem;
    }
    .slides li img{
        width:280px;
        height:160px;
        padding:0;
    }
    .carousel {
      /* 400x700の領域からはみ出た部分は非表示 */
      width: 280px;
      height:430px;
    }
    .slides li {
      float: left;
      width: 280px;
      height:430px;
    }
    .slides-text{
      float:left;
      width:100%;
      box-sizing: border-box;
      padding:5%;
      margin:0;
    }
    #work .work-wrapper ul{
        padding:50px 0px;
    }
    
    #skill .skill-wrap{
        width:75%;
        padding:10px 10px;
        margin:0 auto;
        font-size:0.5rem;
    }
    #skill .skill-item{
        padding-right:5px;
        padding-left:5px;
    }
    #skill .fab{
        font-size:2rem;
    }
    
    #about .sub-sec-title{
        left:40%;
    }
    #about .profile{
        display:inline-block;
    }
    #about .icon-wrapper{
        width:100%;
        margin-right:0;
        margin-left:0;
    }
    #about .icon-wrapper img{
        width:240px;
        height:275px;
    }
    
    #about .icon-wrapper h3{
        margin:0;
    }
    #about .about-wrapper h4{
        margin:0;
        font-size:1rem;
    }
    #about .icon-wrapper .name .name-main{
        font-size:1rem;
        margin-right:5px;
    }
    #about .icon-wrapper .name .name-sub{
        font-size:0.7rem;
        margin:0;
    }
    #about .about-wrapper{
        width:75%;
        margin-right:0;
        float:right;
        margin-top:30px;
    }
    #about .about-wrapper p{
        font-size:0.3rem;
    }
    #service{
        padding-bottom:80px;
    }
    #service .service-wrapper{
        margin-right:15%;
        margin-left:15%;
        display:block;
        font-size:0.7rem;
    }
    #service .service-wrap-right{
        width:100%;
        margin-bottom:0;
        margin-right:0;
        padding:15px;
    }
    #service .service-wrap-left{
        width:100%;
        margin-bottom:40px;
        margin-right:0;
        padding:15px;
    }

    #service .sub-sec-title{
        left:35%;
    }
    #contact .contact-wrapper form{
        max-width:300px;
    }
    #contact .sub-sec-title{
        left:25%;
    }
}

